#stationaries
{
    background: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
}
#stationaries h1
{
    text-align: center;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}
#stationaries h1::after
{
    content:'';
    background: black;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.row
{
    margin-top: 30px
}
img
{
    width: 100%;
}
.product-bottom h3
{
    font-size: 20px;
    font-weight: bold;
}
.product-bottom h5
{
    font-size: 15px;
}
p
{
    font-size: 15px;
    color: black;
}